body {
    font-family: "Roboto", sans-serif;
    color: #434455;;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0;
}
a {
    text-decoration: none;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
}

img {
    display: block;
}

/* .container { 
    max-width: ;
    padding-left:  ;
    padding-right:  ;
    margin-left:  ;
    margin-right:  ;
    } */

    .header {
        display: flex;

    }

.header_logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #4d5ae5;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-left: 156px;
}

.logo_studio {
    color: #2e2f42;
}

.navigation {
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
} 

.navigation_list {
    font-family: "Roboto";
    font-size: 16px;
    display: flex;
    margin-left: 76px;
}

.navigation_item {
    text-decoration: none;
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-right: 40px;
} 


.navigation_item:hover,
.navigation_item:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
    margin-left: 292px;
    margin-top: 24px;
    display: flex;
}

.address_item {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    margin-right: 40px;
}

.address_item:hover,
.address_item:focus {
    color: #404bbf;
}

.hero_image {
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
    justify-content: center;
    align-items: center;

}

.main_title {
    font-size: 56px;
    color:#ffffff;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    width: 496px;
    padding-top: 188px;
}

.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin: 48px 635px 188px 636px;
    width: 169px;
    height: 56px;
    border: 0;
    border-radius: 4px;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

.about-us {
    display: flex;
    width: 1128px;
}

.about_us_item {
    width: 264px;
}

.advantage {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.advantage_text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our_team {
    background-color: #F4F4FD;
}

.section_name {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    padding-top: 120px;
    padding-bottom: 72px;
}

.team_members {
    display: flex;
justify-content: center;
}

.member {
    background-color: #FFFFFF;
    max-width: 100%;
    margin-right: 24px;
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin: 32px 65px 0 65px;
}

.description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 8px 68px 32px 68px;
}

.footer {
    background-color: #2E2F42;
}

.footer_logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #4d5ae5;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer_logo_studio {
    color: #f4f4fd;
}

.footer_description {
    font-size: 16px;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}